{% extends "layout.html" %}
{% block content %}

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/png, image/jpeg">
    <input type="text" name="width">
    <input type="text" name="height">
    <input type="text" name="rotation">


    <button type="submit">submit</button>
</form>

{% if images %}
{% for path in images %}
<div>
<!--    <img src="images/{{ path }}" style="margin-top: 10px; vertical-align: bottom; width: 200px;">-->
    <img src="images/{{ path }}">
    {{ path }}
</div>
{% endfor %}
{% endif %}

{% endblock %}